@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  border: none;
}

address {
  font-style: normal;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
  box-sizing: border-box;
}
@media screen and (min-width: 363px) {
  .container {
    width: 363px;
  }
}
@media screen and (min-width: 724px) {
  .container {
    width: 724px;
  }
}
@media screen and (min-width: 1380px) {
  .container {
    width: 1380px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-image: url(../img/vova/desktop/pexels.png);
  background-size: cover;
  padding-top: 16px;
  padding-bottom: 281px;
}
.header__logo {
  padding: 8px;
  width: 154px;
  height: 96px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 64px;
  line-height: 125%;
  color: #DA9D27;
}
.header__div {
  display: flex;
}
.header__box {
  display: flex;
}
.header__list {
  display: flex;
  gap: 40px;
  align-items: end;
}
.header__svg {
  height: 24px;
  width: 24px;
}
.header__ext {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #A76E00;
}
.header__info {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #A76E00;
}
.header__login {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #A76E00;
}
.header__nav {
  display: flex;
}
.header__page {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #A76E00;
}
.header__input {
  border: 1px solid #979797;
  border-radius: 4px;
  width: 174px;
  height: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #979797;
}
.header__seach {
  width: 24px;
  height: 24px;
}
.header__social {
  display: flex;
}
.header__title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 68px;
  line-height: 132%;
  color: #FDFDFD;
}
.header__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: #979797;
}
.header__butn {
  border-bottom: 1px solid #3D3C39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867E;
}

.design {
  background-color: #fdfdfd;
  padding-top: 40px;
  padding-bottom: 48px;
  overflow: hidden;
}
@media screen and (min-width: 724px) {
  .design {
    padding-top: 82px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1380px) {
  .design {
    padding-top: 100px;
    padding-bottom: 46px;
  }
}
.design__title {
  color: #a76e00;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  width: 327px;
  display: flex;
  position: relative;
  margin-bottom: 16px;
}
@media screen and (min-width: 724px) {
  .design__title {
    font-size: 40px;
    line-height: 48px;
    width: 622px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1380px) {
  .design__title {
    font-size: 56px;
    line-height: 64px;
    width: 871px;
    margin-left: auto;
    margin-right: 30px;
    position: relative;
    margin-bottom: 40px;
  }
  .design__title::before {
    content: "";
    width: 403px;
    height: 2px;
    background-color: #a76e00;
    flex-shrink: 0;
    position: absolute;
    left: -440px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.design__wrapper {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 724px) {
  .design__wrapper {
    position: relative;
    height: 520px;
  }
}
@media screen and (min-width: 1380px) {
  .design__wrapper {
    height: 640px;
  }
}
.design__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 8px;
  border: 2px solid #f8f1e9;
  background: lightgray 50%;
}
.design__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.design__plant {
  width: 100%;
  height: 120px;
}
@media screen and (min-width: 724px) {
  .design__plant {
    width: 276px;
    height: 210px;
    position: absolute;
    top: -2px;
    left: -45px;
  }
}
@media screen and (min-width: 1380px) {
  .design__plant {
    top: -12px;
    left: 100px;
    width: 405px;
    height: 260px;
  }
}
.design__service {
  width: calc(50% - 10px);
}
@media screen and (min-width: 724px) {
  .design__service {
    width: 492px;
    height: 292px;
    position: absolute;
    top: 105px;
    left: 95px;
    z-index: 1;
  }
}
@media screen and (min-width: 1380px) {
  .design__service {
    top: 118px;
    left: 302px;
    width: 720px;
    height: 360px;
  }
}
.design__bouquet {
  height: 256px;
  width: 100%;
}
@media screen and (min-width: 724px) {
  .design__bouquet {
    width: 276px;
    height: 210px;
    position: absolute;
    top: 291px;
    right: -43px;
  }
}
@media screen and (min-width: 1380px) {
  .design__bouquet {
    top: 349px;
    right: 136px;
    width: 402px;
    height: 260px;
  }
}
.design__more {
  width: 343px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #f8f1e9;
  flex-shrink: 0;
  color: #04867e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-top: 16px;
}
@media screen and (min-width: 724px) {
  .design__more {
    width: 200px;
    border-bottom: 1px solid #3d3c39;
    background: #fdfdfd;
    font-weight: 700;
    line-height: 18px;
    font-size: 16px;
    margin-left: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1380px) {
  .design__more {
    width: 240px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.choose {
  padding-top: 40px;
  padding-bottom: 112px;
  background-color: #979797;
  background-image: url(../../img/vova/mobile/vecpic.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}
@media screen and (min-width: 724px) {
  .choose {
    padding-top: 89px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1380px) {
  .choose {
    padding-top: 100px;
    padding-bottom: 48px;
  }
}
.choose__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 133%;
  color: #FDFDFD;
}
@media screen and (min-width: 724px) {
  .choose__title {
    font-size: 40px;
    line-height: 120%;
  }
}
@media screen and (min-width: 1380px) {
  .choose__title {
    font-size: 56px;
    line-height: 114%;
  }
}
.choose__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 724px) {
  .choose__div {
    display: contents;
  }
}
.choose__box {
  border-radius: 8px;
  padding: 16px;
  width: 316px;
  height: 304px;
  background-color: #F8F1E9;
}
@media screen and (min-width: 724px) {
  .choose__box {
    display: contents;
  }
}
@media screen and (min-width: 724px) {
  .choose__list {
    border-radius: 8px;
    padding: 12px 8px;
    width: 604px;
    height: 240px;
    background-color: #F8F1E9;
  }
}
@media screen and (min-width: 1380px) {
  .choose__list {
    border-radius: 8px;
    padding: 12px 0px;
    width: 652px;
    height: 256px;
  }
}
.choose__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #3D3C39;
}
.choose__butn {
  border-bottom: 1px solid #3D3C39;
  border-radius: 4px;
  padding: 10px 16px;
  width: 240px;
  height: 42px;
  background-color: #FDFDFD;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867E;
  display: none;
}
@media screen and (min-width: 724px) {
  .choose__butn {
    display: block;
  }
}
.btn-primary {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #04867e;
  position: relative; /* Обов'язково для позиціонування смуги */
  text-decoration: none;
  color: #007f7a;
  font-weight: bold;
  display: inline-block; /* Щоб працювали відступи */
}
.btn-primary::after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: -8px;
  height: 2px;
  background-color: #007f7a;
}

.news {
  padding: 60px 0;
  background-color: #fdfdfd;
  font-family: sans-serif;
}
.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .news__header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.news__line {
  flex-grow: 1;
  height: 2px;
  background-color: #cca86e;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .news__line {
    width: 100%;
    margin-right: 0;
    margin-top: 15px;
  }
}
.news__title {
  color: #cca86e;
  font-size: 56px;
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 56px;
  line-height: 114%;
}
@media (max-width: 768px) {
  .news__title {
    font-size: 36px;
  }
}
.news__grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .news__grid {
    flex-direction: column;
    gap: 40px;
  }
}
.news__footer {
  text-align: center;
  margin-top: 20px;
}

.news-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.news-card__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: var(--gold-logo);
}
.news-card__date {
  color: #4a2cb0;
  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  padding-bottom: 24px;
  color: #3e1063;
}
.news-card__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: 24px;
}
.news-card__title {
  color: #cca86e;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
}/*# sourceMappingURL=main.css.map */