<section class="showcase">
    <div class="container showcase__desktop">
        <div class="showcase__group">
            <img class="showcase__img" src="../img/vova/mobile/vecpic-mobile.png" alt="moon">
            <hr class="showcase__line">
            <div class="group2">
                <h2 class="showcase__title">Що ми можемо зробити</h2>
                <div class="showcase__box">
                    <p class="showcase__text">Ми можемо показати вам краще, ніж розповісти.</p>
                </div>
            </div>
        </div>
    </div>
</section>