<section class="serving-header">
    <div class="container">
        <div class="serving-header__position">
            <p class="serving-header__logotip">CBD</p>
            <div class="serving-header__section">
                <div class="serving-header__white">
                    <p class="serving-header__logo">CBD</p>
                    <div class="serving-header__box">
                        <ul class="serving-header__social">
                            <li class="serving-header__item">
                                <a class="serving-header__link" href="">
                                    <svg class="serving-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="serving-header__item">
                                <a class="serving-header__link" href="">
                                    <svg class="serving-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="serving-header__item">
                                <a class="serving-header__link" href="">
                                    <svg class="serving-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <p class="serving-header__ext">202.742.5923 ext. 160</p>
                        <p class="serving-header__info">info [at] cbdmeetings [dot] com</p>
                    </div>
                    <div class="serving-header__div">
                        <p class="serving-header__login">Логін | Зареєструватися</p>
                    </div>
                    <a class="serving-header__burger" href="">
                        <svg class="serving-header__menu">
                            <use class="serving-header__icon" href="../img/vova/symbol-defs.svg#icon-menu"></use>
                        </svg>
                    </a>

                </div>
                <div class="serving-header__nav">
                    <ul class="serving-header__list">
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="../plans/index.html">Про нас</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="../serving/index.html">Сервіси</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="../portfolio/index.html">Портфоліо</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="#">Клієнти</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="#">Магазин</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="#">Контакти</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="../cost/index.html">Вартість</a>
                        </li>
                        <li class="serving-header__item">
                            <a class="serving-header__page" href="#">Події</a>
                        </li>
                    </ul>
                    <input placeholder="Пошук" class="serving-header__input" type="text">
                    <svg class="serving-header__seach">
                        <use href="../img/vova/symbol-defs.svg#icon-search"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="serving-header__hero">
            <p class="serving-header__service">Сервіси</p>
        </div>
    </div>
</section>