<section class="opportunities">
    <div class="container">
        <div class="opportunities__right">
            <h2 class="opportunities__title">Послуги та можливості</h2>
            <div class="opportunities__border"></div>
        </div>
        <div class="opportunities__tablet">
            <div class="opportunities__cover">
                <p class="opportunities__subtitle">CBD планує заходи у Вашингтоні, округ Колумбія, на національному
                    рівні в
                    Чикаго, Атланті, Маямі, Лос-Анджелесі, Лас-Вегас і Нью-Йорк, на Багамах і для наших міжнародні
                    партнери.
                </p>
                <p class="opportunities__text">Наш готовий підхід до вражаючих подій є другим нікому. Ми наймаємо
                    графічних
                    дизайнерів, менеджерів з логістики, фахівці зі зв’язків з громадськістю та мають власний залік і
                    компонент
                    цифрового друку. У нас є плани поверхів і специфікації майже на кожному місці, конференц-центрі і
                    приміщення
                    для зустрічей у Вашингтоні, округ Колумбія і чудові відносини з нашими сторонніми постачальниками.
                    Ми
                    також
                    пропонуємо послуги перекладу на іспанську, португальську, французька та німецька.
                </p>
            </div>
            <img class="opportunities__image" src="../../img/vova/desktop/pexels-craig.png" alt="фото стола">
        </div>
        <div class="opportunities__desktop">
            <img class="opportunities__image" src="../../img/vova/desktop/pexels-craig.png" alt="фото стола">
            <div class="opportunities__cover">
                <p class="opportunities__subtitle">CBD планує заходи у Вашингтоні, округ Колумбія, на національному
                    рівні в
                    Чикаго, Атланті, Маямі, Лос-Анджелесі, Лас-Вегас і Нью-Йорк, на Багамах і для наших міжнародні
                    партнери.
                </p>
                <p class="opportunities__text">Наш готовий підхід до вражаючих подій є другим нікому. Ми наймаємо
                    графічних
                    дизайнерів, менеджерів з логістики, фахівці зі зв’язків з громадськістю та мають власний залік і
                    компонент
                    цифрового друку. У нас є плани поверхів і специфікації майже на кожному місці, конференц-центрі і
                    приміщення
                    для зустрічей у Вашингтоні, округ Колумбія і чудові відносини з нашими сторонніми постачальниками.
                    Ми
                    також
                    пропонуємо послуги перекладу на іспанську, португальську, французька та німецька.
                </p>
            </div>
        </div>
        <div class="opportunities__box">
            <p class="opportunities__mobile">CBD планує заходи у Вашингтоні, округ Колумбія, на національному рівні
                в
                Чикаго, Атланті, Маямі, Лос-Анджелесі,</p>
            <p class="opportunities__mobile2">Лас-Вегас і Нью-Йорк, на Багамах і дл...</p>
        </div>
        <div class="opportunities__div">
            <button class="opportunities__readmore" type="button">Детальніше</button>
            <button class="opportunities__button" type="button">Загрузити брошуру</button>
            <button class="opportunities__btn" type="button">Детальніше</button>
        </div>
    </div>
    </div>
</section>