<section class="gallery">
      <div class="container">
        <ul class="gallery__list">
          <li class="gallery__item">
            <div class="gallery__wrapper">
              <h2 class="gallery__title">Базовий</h2>
              <h3 class="gallery__subtitle">$5,000</h3>
            </div>
            <div class="gallery__box">
              <h4 class="gallery__label">до 100 гостей</h4>
              <p class="gallery__text">Переговори щодо місця проведення</p>
              <p class="gallery__text">Попередня реєстрація</p>
              <p class="gallery__text">Список гостей</p>
              <p class="gallery__text">Подія</p>
              <p class="gallery__text">Дизайн запрошень</p>
              <p class="gallery__text">Реєстрація на місці</p>
            </div>
            <p class="gallery__more">Детальніше</p>
            <button class="gallery__button">Buy Now</button>
          </li>
          <li class="gallery__item">
            <div class="gallery__wrapper">
              <h2 class="gallery__title">Делюкс</h2>
              <h3 class="gallery__subtitle">$5,500 - 10,000</h3>
            </div>
            <div class="gallery__box">
              <h4 class="gallery__label">100-200 гостей</h4>
              <p class="gallery__text">Управління логістикою</p>
              <p class="gallery__text">Переговори щодо місця проведення</p>
              <p class="gallery__text">Дизайн запрошень</p>
              <p class="gallery__text">Реєстрація на місці</p>
            </div>
            <p class="gallery__more">Детальніше</p>
            <button class="gallery__button">Buy Now</button>
          </li>
          <li class="gallery__item">
            <div class="gallery__wrapper">
              <h2 class="gallery__title">Преміум</h2>
              <h3 class="gallery__subtitle">$10,000+</h3>
            </div>
            <div class="gallery__box">
              <h4 class="gallery__label">200-300 гостей</h4>
              <p class="gallery__text">
                Відданий старший менеджер з роботи з клієнтами
              </p>
              <p class="gallery__text">Переговори щодо місця проведення</p>
              <p class="gallery__text">Преміум-запрошення</p>
              <p class="gallery__text">Розширена реєстрація на місці</p>
            </div>
            <p class="gallery__more">Детальніше</p>
            <button class="gallery__button">Buy Now</button>
          </li>
          <li class="gallery__item">
            <div class="gallery__wrapper">
              <h2 class="gallery__title">PRО</h2>
              <h3 class="gallery__subtitle">Індивідуально</h3>
            </div>
            <div class="gallery__box">
              <p class="gallery__text">Веб-сайт події</p>
              <p class="gallery__text">Переговори щодо місця проведення</p>
              <p class="gallery__text">Старший організатор заходів</p>
              <p class="gallery__text">Преміальні запрошення</p>
              <p class="gallery__text">Розширена реєстрація</p>
              <p class="gallery__text">Підтримка в чаті</p>
              <p class="gallery__text">Персонал реєстрації на місці</p>
            </div>
            <p class="gallery__more">Детальніше</p>
            <button class="gallery__button">Buy Now</button>
          </li>
        </ul>
      </div>
    </section>