<section class="feedback">
  <div class="feedback__container">

    <h2 class="feedback__title">Відгуки</h2>

    <div class="feedback__list">


      <article class="feedback-card">
        <div class="feedback-card__photo-wrapper">
          <img class="feedback-card__photo" src="../../img/andriy/blackwooman.png" alt="Адріана Кастро">
        </div>
        <div class="feedback-card__content">
          <p class="feedback-card__text">
            Це фантастична фірма з планування заходів. У нас була видатна подія в США, і єдине, що нам
            потрібно було зробити, це з'явитися. Айві та її команда виконали вражаючу роботу для уряду
            Бразилії.
          </p>
          <cite class="feedback-card__author">
            <span class="feedback-card__name">Адріана Кастро</span>,
            <span class="feedback-card__role">директор</span>
          </cite>
        </div>
      </article>


      <article class="feedback-card feedback-card--photo-right feedback-card--offset-right">
        <div class="feedback-card__photo-wrapper">
          <img class="feedback-card__photo" src="../../img/andriy/indus.png" alt="Маллам Санусі Ламідо Санусі">
        </div>
        <div class="feedback-card__content">
          <p class="feedback-card__text">
            Команда виконала фантастичну роботу для семінарів Світового банку з розвитку консолідації
            центральних банків приватного сектора. Ми в Африці, тому ми могли довірити їм усі деталі.
          </p>
          <cite class="feedback-card__author">
            <span class="feedback-card__name">Маллам Санусі Ламідо Санусі</span>,
            <span class="feedback-card__role">губернатор Центрального банку Нігерії</span>
          </cite>
        </div>
      </article>

    </div>

    <div class="feedback__actions">
      <a href="#" class="feedback__btn">Детальніше</a>
    </div>

  </div>
</section>