<section class="key">
  <div class="container">
    <h2 class="key__tittle">
      Тематичні події під ключ<span class="key__dash"> -</span>
    </h2>
    <p class="key__more">незабутні <br class="key__hide" />святкові емоції</p>
    <div class="key__box">
      <picture class="key__composition">
        <source
          srcset="
            ./img/mariia/desktop/composition-desktop@1x.webp 1x,
            ./img/mariia/desktop/composition-desktop@2x.webp 2x
          "
          media="(min-width: 1380px)"
        />
        <source
          srcset="
            ./img/mariia/tablet/composition-tablet@1x.webp 1x,
            ./img/mariia/tablet/composition-tablet@2x.webp 2x
          "
          media="(min-width: 724px)"
        />
        <source
          srcset="
            ./img/mariia/mobile/composition-mobile@1x.webp 1x,
            ./img/mariia/mobile/composition-mobile@2x.webp 2x
          "
        />
        <img class="design__image" src="./images/sad.jpg" alt="not working" />
      </picture>
      <div class="key__wrapper">
        <h2 class="key__subtitle">Використовуємо найсучасніший дизайн</h2>
        <p class="key__top">
          Ключ до чудової події — зробити її незабутньою. У CBD ми
          використовуємо концепцію вашого бренду та особистості, щоб створювати
          настрій і встановлювати стандарти.
        </p>
        <p class="key__bottom">
          Тут НЕМАЄ подій, пов’язаних із розрізанням тортів. Кожен елемент
          дизайну налаштований на замовлення, і ми НІКОЛИ не ЗАБУВАЄМО дрібних
          деталей.
        </p>
        <a href="#" class="key__a">Детальніше</a>
      </div>
    </div>
  </div>
</section>
