<section class="choose">
    <div class="container">
        <h2 class="choose__title">Вибір послуг</h2>
        <div class="choose__div">
            <div class="choose__box">
                <div class="choose__desktop">
                    <ul class="choose__list">
                        <li class="choose__item">
                            <div class="choose__help">
                                <div class="choose__border"></div>
                                <p class="choose__text">Логістика та реєстрація</p>
                            </div>
                        </li>
                        <li class="choose__item">
                            <div class="choose__help">
                                <div class="choose__border1"></div>
                                <p class="choose__text">Менеджмент призначення</p>
                            </div>
                        </li>
                        <li class="choose__item">
                            <div class="choose__help">
                                <div class="choose__border2"></div>
                                <p class="choose__text">Обговорення місця та об’єкта</p>
                            </div>

                        </li>
                        <li class="choose__item">
                            <div class="choose__help">
                                <div class="choose__border3"></div>
                                <p class="choose__text">Обслуговування</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="choose__services">
                        <li class="choose__page">
                            <div class="choose__help">
                                <p class="choose__text">Аудіовізуал</p>
                                <div class="choose__border4"></div>
                            </div>
                        </li>
                        <li class="choose__page">
                            <div class="choose__help">
                                <p class="choose__text">Звук і освітлення</p>
                                <div class="choose__border5"></div>
                            </div>
                        </li>
                        <li class="choose__page">
                            <div class="choose__help">
                                <p class="choose__text">Креативний дизайн і декор</p>
                                <div class="choose__border6"></div>
                            </div>
                        </li>
                        <li class="choose__page">
                            <div class="choose__help">
                                <p class="choose__text">Фотографія та відеозйомка</p>
                                <div class="choose__border"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="choose__button">
            <button type="button" class="choose__butn">Ознайомитися</button>
        </div>
    </div>
</section>