<section class="header">
    <div class="container">
        <div class="header__div">
            <ul class="header__social">
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="header__ext">202.742.5923 ext. 160</p>
            <p class="header__info">info [at] cbdmeetings [dot] com</p>
            <p class="header__login">Логін | Зареєструватися</p>
        </div>
        <div class="header__nav">
            <p class="header__logo">CBD</p>
            <ul class="header__list">
                <li class="item">
                    <a class="header__page" href="../plans/index.html">Про нас</a>
                </li>
                <li class="item">
                    <a class="header__page" href="../serving/index.html">Сервіси</a>
                </li>
                <li class="item">
                    <a class="header__page" href="../portfolio/index.html">Портфоліо</a>
                </li>
                <li class="item">
                    <a class="header__page" href="#">Клієнти</a>
                </li>
                <li class="item">
                    <a class="header__page" href="#">Магазин</a>
                </li>
                <li class="item">
                    <a class="header__page" href="#">Контакти</a>
                </li>
                <li class="item">
                    <a class="header__page" href="../cost/index.html">Вартість</a>
                </li>
                <li class="item">
                    <a class="header__page" href="#">Події</a>
                </li>
            </ul>
            <input placeholder="Пошук" class="header__input" type="text">
            <svg class="header__seach">
                <use href=""></use>
            </svg>
        </div>
        <p class="header__title">#1 Організатор корпоративних заходів</p>
        <p class="header__text">
            Протокол зустрічей і заходів CBD. Ми є фірмою №1 з корпоративного планування у
            Вашингтоні для міжнародних урядів, дипломатів і банків.
        </p>
        <button class="header__butn" type="button">Детальніше</button>
    </div>
</section>