<section class="hero">
    <div class="container">
        <div class="hero__box">
            <input placeholder="Пошук" class="hero__input" type="text">
            <svg class="hero__seach">
                <use href="../img/vova/symbol-defs.svg#icon-search"></use>
            </svg>
        </div>
        <p class="hero__title">#1 Організатор корпоративних заходів</p>
        <div class="hero__div">
            <p class="hero__text">
                Протокол зустрічей і заходів CBD. Ми є фірмою №1 з корпоративного планування у
                Вашингтоні для міжнародних урядів, дипломатів і банків.
            </p>
        </div>
        <div class="hero__position">
            <button class="hero__butn" type="button">Детальніше</button>
        </div>
    </div>
</section>