<section class="about">
  <div class="container">
    <img class="about__img" src="/src/img/about/party.png" alt="Концерт, люди з телефонами в залі" />

    <hr class="about__line" />
    <h2 class="about__title">Про компанію</h2>

    <p class="about__smalltext">Натхнення можна знайти всюди</p>

    <a class="about__chat" href="#">Чат</a>

    <input type="checkbox" id="toggle-text" class="about__trigger" />

    <div class="about__wholetext">
      <p class="about__text1">
        CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до
        повного планування заходів, організації заходів та маркетингу заходів.
        CBD є найкращим інтегрованим планувальником зустрічей для міжнародної
        спільноти.
      </p>
      <p class="about__text2">
        Ми з гордістю обслуговуємо 8 країн на 5 континентах. CBD керує подіями
        для дипломатів, некомерційних організацій, фондів і асоціацій,
        корпорацій і окремих осіб.
      </p>
    </div>

    <label for="toggle-text" class="about__details">Детальніше</label>
  </div>
</section>