<footer class="footer">
        <div class="logo">
            <a class="footer__link" href="#">CBD</a>
            <p class="footer__dicruption">Зустрічі та індивідуальні заходи</p>
        </div>
        <div class="about">
            <h3 class="footer__title">Про CBD</h3>
            <p class="footer__text">CBD – головна керуюча компанія для планування
                заходів для корпорацій, некомерційних організацій, міжнародних урядів та громадських заходів у
                Вашингтоні.</p>
            <button class="footer__button">Загрузити брошуру</button>
        </div>
        <div class="planning">
            <h3 class="footer__title">Планування заходів</h3>
            <ul class="footer__list">
                <li class="footer__item">Зустрічі CBD і події</li>
                <li class="footer__item">Планування заходів</li>
                <li class="footer__item">Послуги організації</li>
                <li class="footer__item">Галерея</li>
                <li class="footer__item">Вартість</li>
                <li class="footer__item">Прайс</li>
            </ul>
        </div>
        <div class="services">
            <h3 class="footer__title">Сервіси для клієнтів</h3>
            <ul class="footer__list">
                <li class="footer__item">Планування зустрічі</li>
                <li class="footer__item">Планування заходів</li>
                <li class="footer__item">Обслуговування</li>
                <li class="footer__item">Зв'язки з громадськістю</li>
                <li class="footer__item">Маркетинг</li>
                <li class="footer__item">Місце проведення</li>
                <li class="footer__item">Оренда матеріалів</li>
                <li class="footer__item">Аудіовізуал</li>
                <li class="footer__item">Фотографія</li>
                <li class="footer__item">Реєстрація</li>
                <li class="footer__item">Організація заходів</li>
                <li class="footer__item">Звук і освітлення</li>
                <li class="footer__item">Концепція дизайну</li>
                <li class="footer__item">Менеджмент призначення</li>
            </ul>
        </div>
        <div class="contact">
            <h3 class="footer__title">Контакти</h3>
            <address>
                <ul class="footer__list">
                    <li class="footer__item">CBD Зустрічі та індивідуальні заходи</li>
                    <li class="footer__item">Поштова скринька 76096</li>
                    <li class="footer__item">Вашингтон ДС 20013</li>
                    <li class="footer__item">Гаряча лінія</li>
                    <li class="footer__item">
                        <a href="tel:+18009564514">+1 800__956__4514</a>
                        код 160
                    </li>
                    <li class="footer__item">
                        Вашингтон ДС
                        <a href="tel:+12027425923">+1 202__742__5923</a>
                    </li>
                    <li class="footer__item">
                        Атланта
                        <a href="tel:+14048060153">+1 404__806__0153</a>
                    </li>
                    <li class="footer__item">
                        <a href="mailto:info@cbdmeetings.com">info@cbdmeetings.com</a>
                    </li>
                </ul>
            </address>
            <ul class="sub__list">
                <li class="sublist__item">
                    <a class="social__link" href="">
                        <svg class="social__icon">
                            <use href="./img/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="sublist__item">
                    <a class="social__link" href="">
                        <svg class="social__icon">
                            <use href="./img/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="sublist__item">
                    <a class="social__link" href="">
                        <svg class="social__icon">
                            <use href="./img/symbol-defs.svg#icon-google"></use>
                        </svg>
                    </a>
                </li>
                <li class="sublist__item">
                    <a class="social__link" href="">
                        <svg class="social__icon">
                            <use href="./img/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="footer__codes">
                <p class="footer__text">
                    NAICS Коди:<br>
                    541820 | 541613 | 611699 | 323111 | 541810 | 541840 |<br>
                    541850 | 541840 | 541870 | 541890 | 711510 | 511130 |<br>
                    561990 | 541430 | 541611
                </p>
            </div>
            <div class="footer__bottom-row">
                <nav class="footer__nav">
                    <a href="#">Головна |</a>
                    <a href="#">Продукти |</a>
                    <a href="#">Кар’єра |</a>
                    <a href="#">Терміни</a>
                </nav>
                <p class="footer__copyright">Редизайн сайту 2022/2023</p>
            </div>
    </footer>