<section class="tour">
    <div class="container">
        <div class="tour__group1">
        <h2 class="tour__title">Відео-тур</h2>
        <hr class="tour__line">
        </div>
        <div class="tour__group2">
            <a class="tour__text" href="">Перегляд виконаних замовлень</a>
            <img class="tour__img" src="https://media0.giphy.com/media/v1.Y2lkPTZjMDliOTUyZXpkcDd3NHFjNm4xZXQ5cWYyMmdid3E4YnhybW9yemFjY2lnc2s1OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/K14ddixG848qQ/source.gif" alt="lantern">
        </div>
        <div class="tour__group3">
        <button class="tour__button">Ознайомитися</button>
        </div>
    </div>

</section>