<section class="meets">
<div class="container">
<div class="meets__monitorgroup">
<h2 class="meets__title">Протокол заходів і зустрічей</h2>
<hr class="meets__line">
</div>

<div class="meets__group1">
<article class="meets__article">
<input type="checkbox" id="accordion-1" class="meets__toggle">
<label for="accordion-1" class="meets__header">
<h3 class="meets__smalltitle">
<span class="meets__number">1.</span> Планування
</h3>
<span class="meets__arrow"></span>
</label>
<ul class="meets__list">
<li class="meets__item">Менеджери контенту</li>
<li class="meets__item">Укладання договору</li>
<li class="meets__item">Концепція дизайну</li>
<li class="meets__item">Бюджет</li>
<li class="meets__item">Попередня реєстрація</li>
<li class="meets__item">Зв'язки з громадськістю</li>
<li class="meets__item">Вибір ділянки</li>
<li class="meets__item">Бронювання спікерів</li>
<li class="meets__item">Пошук талантів</li>
</ul>
</article>

<article class="meets__article">
<input type="checkbox" id="accordion-2" class="meets__toggle">
<label for="accordion-2" class="meets__header">
<h3 class="meets__smalltitle">
<span class="meets__number">2.</span> Логістика
</h3>
<span class="meets__arrow"></span>
</label>
<ul class="meets__list">
<li class="meets__item">Повітряна подорож</li>
<li class="meets__item">Оренда декору</li>
<li class="meets__item">Прокат урочистої білизни</li>
<li class="meets__item">Наземний транспорт</li>
<li class="meets__item">Бронювання готелю</li>
<li class="meets__item">Друк</li>
<li class="meets__item">Приватна охорона</li>
<li class="meets__item">Кадрове забезпечення</li>
<li class="meets__item">Зв'язок з постачальниками</li>
</ul>
</article>

<article class="meets__article">
<input type="checkbox" id="accordion-3" class="meets__toggle">
<label for="accordion-3" class="meets__header">
<h3 class="meets__smalltitle">
<span class="meets__number">3.</span> Виконання
</h3>
<span class="meets__arrow"></span>
</label>
<ul class="meets__list">
<li class="meets__item">Подарунки учасникам</li>
<li class="meets__item">Аудіовізуал</li>
<li class="meets__item">Обслуговування</li>
<li class="meets__item">Декор</li>
<li class="meets__item">Маркетинг</li>
<li class="meets__item">Фотографія</li>
<li class="meets__item">Рекламні товари</li>
<li class="meets__item">Звук / Освітлення</li>
<li class="meets__item">Відеозйомка</li>
</ul>
</article>

<article class="meets__article">
<input type="checkbox" id="accordion-4" class="meets__toggle">
<label for="accordion-4" class="meets__header">
<h3 class="meets__smalltitle">
<span class="meets__number">4.</span> Менеджмент
</h3>
<span class="meets__arrow"></span>
</label>
<ul class="meets__list">
<li class="meets__item">Управління контрактами</li>
<li class="meets__item">Управління призначенням</li>
<li class="meets__item">Управління логістикою</li>
<li class="meets__item">Управління протоколом</li>
<li class="meets__item">Виїзні події</li>
<li class="meets__item">Реєстрація учасників на місці</li>
<li class="meets__item">Закупівлі</li>
<li class="meets__item">Стратегічний менеджмент</li>
</ul>
</article>
</div>
</div>
</section>
