<header>
    <div class="container">
        <p class="header__logo">CBD</p>
        <div class="header__box">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">
                        <svg class="header__svg">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="header__text">202.742.5923 ext. 160</p>
            <p class="header__info">info [at] cbdmeetings [dot] com</p>
        </div>
        <p class="header__login">Логін | Зареєструватися</p>
        <div class="header__nav">
            <ul class="list">
                <li class="item"><a href="">Про нас</a></li>
                <li class="item"><a href="">Сервіси</a></li>
                <li class="item"><a href="">Портфоліо</a></li>
                <li class="item"><a href="">Клієнти</a></li>
                <li class="item"><a href="">Магазин</a></li>
                <li class="item"><a href="">Контакти</a></li>
                <li class="item"><a href="">Вартість</a></li>
                <li class="item"><a href="">Події</a></li>
            </ul>
            <input class="header__input" placeholder="" type="text">
            <a class="header__menu" href="">
                <svg class="header__seach">
                    <use href=""></use>
                </svg>
            </a>
        </div>
        <p class="header__title"></p>
        <p class="header__"></p>
        <button type="button">Детальніше</button>
    </div>
</header>
