<section class="design">
  <div class="container">
    <h2 class="design__title">Вишукані концепції дизайну</h2>
    <div class="design__wrapper">
      <div class="design__column">
        <picture class="design__plant">
          <source
            srcset="
              ./img/mariia/desktop/plant-desktop@1x.webp 1x,
              ./img/mariia/desktop/plant-desktop@2x.webp 2x
            "
            media="(min-width: 1380px)"
          />
          <source
            srcset="
              ./img/mariia/tablet/plant-tablet@1x.webp 1x,
              ./img/mariia/tablet/plant-tablet@2x.webp 2x
            "
            media="(min-width: 724px)"
          />
          <source
            srcset="
              ./img/mariia/mobile/plant-mobile@1x.webp 1x,
              ./img/mariia/mobile/plant-mobile@2x.webp 2x
            "
          />
          <img class="design__image" src="./images/sad.jpg" alt="not working" />
        </picture>
        <picture class="design__service">
          <source
            srcset="
              ./img/mariia/desktop/service-desktop@1x.webp 1x,
              ./img/mariia/desktop/service-desktop@2x.webp 2x
            "
            media="(min-width: 1380px)"
          />
          <source
            srcset="
              ./img/mariia/tablet/service-tablet@1x.webp 1x,
              ./img/mariia/tablet/service-tablet@2x.webp 2x
            "
            media="(min-width: 724px)"
          />

          <source
            srcset="
              ./img/mariia/mobile/service-mobile@1x.webp 1x,
              ./img/mariia/mobile/service-mobile@2x.webp 2x
            "
          />
          <img class="design__image" src="./images/sad.jpg" alt="not working" />
        </picture>
      </div>
      <picture class="design__bouquet">
        <source
          srcset="
            ./img/mariia/desktop/bouquet-desktop@1x.webp 1x,
            ./img/mariia/desktop/bouquet-desktop@2x.webp 2x
          "
          media="(min-width: 1380px)"
        />
        <source
          srcset="
            ./img/mariia/tablet/bouquet-tablet@1x.webp 1x,
            ./img/mariia/tablet/bouquet-tablet@2x.webp 2x
          "
          media="(min-width: 724px)"
        />
        <source
          srcset="
            ./img/mariia/mobile/bouquet-mobile@1x.webp 1x,
            ./img/mariia/mobile/bouquet-mobile@2x.webp 2x
          "
        />
        <img class="design__image" src="./images/sad.jpg" alt="not working" />
      </picture>
    </div>
    <a href="#" class="design__more">Детальніше</a>
  </div>
</section>
