  <section class="events">
      <div class="container">
        <h2 class="events__title">
          Рішення під ключ:<br />Події, якими ми керуємо
        </h2>
        <div class="events__wrapper">
          <div class="events__about">
            <picture class="events__book">
              <source
                srcset="
                  ../img/mariia/desktop/book-desktop@1x.webp 1x,
                  ../img/mariia/desktop/book-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/book-tablet@1x.webp 1x,
                  ../img/mariia/tablet/book-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/book-mobile@1x.webp 1x,
                  ../img/mariia/mobile/book-mobile@2x.webp 2x
                "
              />
              <img
                class="design__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
            <ul class="events__list">
              <li class="events__item">
                <a href="#" class="events__a">Радники з протоколу</a>
              </li>
              <li class="events__item">
                <a href="#" class="events__a">Послуги перекладу</a>
              </li>
              <li class="events__item">
                <a href="#" class="events__a"
                  >Маркетинг і зв'язки з громадськістю</a
                >
              </li>
              <li class="events__item">
                <a href="#" class="events__a"
                  >Пошук місця, управління логістикою</a
                >
              </li>
            </ul>
          </div>
          <div class="events__more">
            <div class="events__text">
              <p class="events__plans">
                Ми плануємо заходи у Вашингтоні, округ Колумбія, на
                національному рівні, на Багамах і для наших міжнародних
                партнерів.<span class="events__dots">..</span>
              </p>
              <p class="events__approach">
                Наш готовий підхід до вражаючих заходів є неперевершеним. Ми
                наймаємо графічних дизайнерів, менеджерів з логістики, Фахівці
                зі зв’язків з громадськістю та мають власний залік і компонент
                цифрового друку.
              </p>
              <p class="events__location">
                У нас є плани поверхів і характеристики майже кожного
                приміщення, конференц-центр і приміщення для зустрічей у
                Вашингтоні, округ Колумбія столична область і чудові відносини
                <br class="events__hide" />
                з нашими сторонніми постачальниками. Ми також пропонуємо послуги
                перекладу іспанською, португальською, французькою та німецькою
                мовами.
              </p>
            </div>
            <a href="#" class="events__btn">Детальніше</a>
          </div>
        </div>
      </div>
    </section>