<section class="services">
  <div class="services__container">
    <div class="services__header">
      <div class="services__line"></div>
      <h2 class="services__title">Вибір сервісу</h2>
    </div>

    <div class="services__grid">
      
      <div class="services__image-wrapper">
        <img src="../../img/andriy/bokal.png" alt="Келихи та десерт" class="services__image">
      </div>

      <div class="services__card">
        <h3 class="services__card-title">Логістика та попередня реєстрація</h3>
        <ul class="services__list">
          <li class="services__list-item">Внутрішні сертифіковані маркетологи</li>
          <li class="services__list-item">Новітні технології на місці</li>
          <li class="services__list-item">Повні послуги з керування даними</li>
          <li class="services__list-item">Надійні постачальники</li>
        </ul>
      </div>

      <div class="services__image-wrapper">
        <img src="../../img/andriy/flowers.png" alt="Сервірування столу" class="services__image">
      </div>


      <div class="services__card">
        <h3 class="services__card-title">Спеціальне меню</h3>
        <ul class="services__list">
          <li class="services__list-item">Приватний обід для невеликих зустрічей</li>
          <li class="services__list-item">Параметри спеціального меню</li>
          <li class="services__list-item">Декор подій</li>
          <li class="services__list-item">Звук і освітлення</li>
        </ul>
      </div>

      <div class="services__image-wrapper">
        <img src="../../img/andriy/wilka.png" alt="Квітковий декор" class="services__image">
      </div>

      <div class="services__card">
        <h3 class="services__card-title">Управління зустріччю</h3>
        <ul class="services__list">
          <li class="services__list-item">Управління зустріччю</li>
          <li class="services__list-item">Вибір місця та укладення договору</li>
          <li class="services__list-item">Зелені зустрічі</li>
          <li class="services__list-item">Конференції та управління виставками</li>
        </ul>
      </div>
    </div>
  </div>
</section>