<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__box">
      <ul class="team__list">
        <li class="team__item">
          <div class="team__wrapper">
            <picture class="team__img">
              <source
                srcset="
                  ../img/mariia/desktop/evi-desktop@1x.webp 1x,
                  ../img/mariia/desktop/evi-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/evi-tablet@1x.webp 1x,
                  ../img/mariia/tablet/evi-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/evi-mobile@1x.webp 1x,
                  ../img/mariia/mobile/evi-mobile@2x.webp 2x
                "
              />
              <img
                class="team__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
          </div>
          <div class="team__about">
            <p class="team__text">
              Айві Пендлтон — креативний директор і головний планувальн<span
                class="team__dots"
                >...</span
              ><span class="team__add">ик.Во...</span>
            </p>
            <h3 class="team__subtitle">Айві К. Пендлтон</h3>
            <h4 class="team__more">Головний планувальник</h4>
          </div>
          <button class="team__btn">Детальніше</button>
        </li>
        <li class="team__item">
          <div class="team__wrapper">
            <picture class="team__img">
              <source
                srcset="
                  ../img/mariia/desktop/kamara-desktop@1x.webp 1x,
                  ../img/mariia/desktop/kamara-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/kamara-tablet@1x.webp 1x,
                  ../img/mariia/tablet/kamara-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/kamara-mobile@1x.webp 1x,
                  ../img/mariia/mobile/kamara-mobile@2x.webp 2x
                "
              />
              <img
                class="team__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
          </div>
          <div class="team__about">
            <p class="team__text">
              Камарія Салау є старшим спеціалістом з логістики в CBD. Во<span
                class="team__dots"
                >...</span
              ><span class="team__add">на тісно співпрацю...</span>
            </p>
            <h3 class="team__subtitle">Камарія Салау</h3>
            <h4 class="team__more">Спеціаліст з логістики</h4>
          </div>
          <button class="team__btn">Детальніше</button>
        </li>
        <li class="team__item">
          <div class="team__wrapper">
            <picture class="team__img">
              <source
                srcset="
                  ../img/mariia/desktop/michael-desktop@1x.webp 1x,
                  ../img/mariia/desktop/michael-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/michael-tablet@1x.webp 1x,
                  ../img/mariia/tablet/michael-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/michael-mobile@1x.webp 1x,
                  ../img/mariia/mobile/michael-mobile@2x.webp 2x
                "
              />
              <img
                class="team__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
          </div>
          <div class="team__about">
            <p class="team__text">
              Майкл — досвідчений фахівець з логістики, який працює в CBD<span
                class="team__dots"
                >...</span
              ><span class="team__add">з 2007 року...</span>
            </p>
            <h3 class="team__subtitle">Майкл Дюбуа</h3>
            <h4 class="team__more">Спеціаліст з логістики</h4>
          </div>
          <button class="team__btn">Детальніше</button>
        </li>
        <li class="team__item">
          <div class="team__wrapper">
            <picture class="team__img">
              <source
                srcset="
                  ../img/mariia/desktop/gregory-desktop@1x.webp 1x,
                  ../img/mariia/desktop/gregory-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/gregory-tablet@1x.webp 1x,
                  ../img/mariia/tablet/gregory-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/gregory-mobile@1x.webp 1x,
                  ../img/mariia/mobile/gregory-mobile@2x.webp 2x
                "
              />
              <img
                class="team__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
          </div>
          <div class="team__about">
            <p class="team__text">
              Грегорі Блейкі — найкращий фотограф у Вашингтоні, округ Ко<span
                class="team__dots"
                >...</span
              ><span class="team__add">лумбія...</span>
            </p>
            <h3 class="team__subtitle">Грегорі Блейкі</h3>
            <h4 class="team__more">Офіційний фотограф</h4>
          </div>
          <button class="team__btn">Детальніше</button>
        </li>
        <li class="team__item">
          <div class="team__wrapper">
            <picture class="team__img">
              <source
                srcset="
                  ../img/mariia/desktop/marshall-desktop@1x.webp 1x,
                  ../img/mariia/desktop/marshall-desktop@2x.webp 2x
                "
                media="(min-width: 1380px)"
              />
              <source
                srcset="
                  ../img/mariia/tablet/marshall-tablet@1x.webp 1x,
                  ../img/mariia/tablet/marshall-tablet@2x.webp 2x
                "
                media="(min-width: 724px)"
              />
              <source
                srcset="
                  ../img/mariia/mobile/marshall-mobile@1x.webp 1x,
                  ../img/mariia/mobile/marshall-mobile@2x.webp 2x
                "
              />
              <img
                class="team__image"
                src="./images/sad.jpg"
                alt="not working"
              />
            </picture>
          </div>
          <div class="team__about">
            <p class="team__text">
              Ми працюємо виключно з лауреатом нагород оператором<span
                class="team__dots"
                >...</span
              >
              <span class="team__add">Маршаллом Л...</span>
            </p>
            <h3 class="team__subtitle">Маршалл Леві</h3>
            <h4 class="team__more">Головний відеооператор</h4>
          </div>
          <button class="team__btn">Детальніше</button>
        </li>
      </ul>
    </div>
  </div>
</section>
