<section class="work">
    <div class="container work__group1">
        <div class="work__group3">
            <img class="work__img" src="" alt="moon">
            <hr class="work__line">
            <h2 class="work__title">Ми хочемо з вами працювати</h2>
        </div>
        <div class="work__group2">
            <a class="work__text" href="">Будь ласка, заповніть форму, щоб наша команда могла оцінити ваші потреби.</a>
            <button class="work__btn">Ознайомитися</button>
        </div>
    </div>
</section>