 <section class="advantage">
      <div class="container">
        <h2 class="advantage__title">Чому CBD: Зустрічі та події</h2>
        <div class="advantage__box">
          <div class="advantage__wrapper">
            <p class="advantage__location">
              Штаб-квартира організації з планування заходів у Вашингтоні, округ
              Колумбія. CBD керує подіями для міжнародних урядів, некомерційних
              організацій, корпора<span class="advantage__dots">...</span
              ><span class="advantage__hide"
                >цій, малих підприємств та приватних осіб. Ми є малим бізнесом.
                Нашою власницею є жінка, яка має членство у Washington Women In
                PR та Destination DC.</span
              >
            </p>
            <p class="advantage__prop">
              Наш корпоративний відділ пропонує планування конференцій, щорічних
              зустрічей і управління при проведенні заходів. Наш соціальний
              відділ планує соціальні заходи, збори коштів для неприбуткових
              організацій і весілля.
            </p>
            <p class="advantage__place">
              Ми керували подіями від концептуалізації до завершення для кількох
              історичних та широко розрекламованих подій, наприклад: The Journer
              Truth Unveiling with First Lady Сполучених Штатів пані Мішель
              Обама, секретар США Гілларі Клінтон, Уряд Бразилії, Посольство
              Швеції, Coca-Cola, Time Warner, Dodge, Atlanta Committee
              Олімпійських ігор (ACOG) та багато інших.
            </p>
            <a class="advantage__about" href="#">Детальніше</a>
          </div>
          <ul class="advantage__list">
            <li class="advantage__item">
              <a href="#" class="advantage__a"
                >Корпоративні заходи, зустрічі, конференції та ін<span
                  class="advantage__more"
                  >ше</span
                ></a
              >
            </li>
            <li class="advantage__item">
              <a href="#" class="advantage__a"
                >Некомерційні організації, асоціації, Центральні банки</a
              >
            </li>
            <li class="advantage__item">
              <a href="#" class="advantage__a">Міжнародні зустрічі</a>
            </li>
            <li class="advantage__item">
              <a href="#" class="advantage__a"
                >Спеціальність: Закордонний приватний сектор, інвестиційні
                семінари</a
              >
            </li>
            <li class="advantage__item">
              <button class="advantage__btn">Загрузити брошуру</button>
            </li>
          </ul>
        </div>
      </div>
    </section>