
   <section class="services">
  <div class="container">
    <div class="services__header">
      <h2 class="services__title">Вибір сервісу</h2>
    </div>

    <div class="services__grid">
      <!-- 1. Картинка 1 -->
      <div class="services__image-card">
        <img src="../img/andriy/bokal.png" alt="Декор та коктейлі" class="services__image">
      </div>

      <!-- 2. Картка 1 -->
      <article class="services__card">
        <h3 class="services__card-title">Логістика та попередня реєстрація</h3>
        <ul class="services__card-list">
          <li class="services__card-item">Внутрішні сертифіковані маркетологи</li>
          <li class="services__card-item">Новітні технології на місці</li>
          <li class="services__card-item">Повні послуги з керування даними</li>
          <li class="services__card-item">Надійні постачальники</li>
        </ul>
      </article>

      <!-- 3. Картинка 2 -->
      <div class="services__image-card">
        <img src="../../img/andriy/tarelka.png" alt="Сервірування столу" class="services__image">
      </div>

      <!-- 4. Картка 2 -->
      <article class="services__card">
        <h3 class="services__card-title">Спеціальне меню</h3>
        <ul class="services__card-list">
          <li class="services__card-item">Приватний обід для невеликих зустрічей</li>
          <li class="services__card-item">Параметри спеціального меню</li>
          <li class="services__card-item">Декор подій</li>
          <li class="services__card-item">Звук і освітлення</li>
        </ul>
      </article>

      <!-- 5. Картинка 3 -->
      <div class="services__image-card">
        <img src="../../img/andriy/flowers.png" alt="Квіти та свічки" class="services__image">
      </div>

      <!-- 6. Картка 3 -->
      <article class="services__card">
        <h3 class="services__card-title">Управління зустріччю</h3>
        <ul class="services__card-list">
          <li class="services__card-item">Управління зустріччю</li>
          <li class="services__card-item">Вибір місця та укладення договору</li>
          <li class="services__card-item">Зелені зустрічі</li>
          <li class="services__card-item">Конференції та управління виставками</li>
        </ul>
      </article>
    </div>
  </div>

</section>