<section class="plans-header">
    <div class="container">
        <div class="plans-header__position">
            <a class="plans-header__logotip" href="">CBD</a>
            <div class="plans-header__section">
                <div class="plans-header__white">
                    <a class="plans-header__logo" href="">CBD</a>
                    <div class="plans-header__box">
                        <ul class="plans-header__social">
                            <li class="plans-header__item">
                                <a class="plans-header__link" href="">
                                    <svg class="plans-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="plans-header__item">
                                <a class="plans-header__link" href="">
                                    <svg class="plans-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="plans-header__item">
                                <a class="plans-header__link" href="">
                                    <svg class="plans-header__svg">
                                        <use href="../img/vova/symbol-defs.svg#icon-youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <p class="plans-header__ext">202.742.5923 ext. 160</p>
                        <p class="plans-header__info">info [at] cbdmeetings [dot] com</p>
                    </div>
                    <div class="plans-header__div">
                        <p class="plans-header__login">Логін | Зареєструватися</p>
                    </div>
                    <a class="plans-header__burger" href="">
                        <svg class="plans-header__menu">
                            <use class="plans-header__icon" href="../img/vova/symbol-defs.svg#icon-menu"></use>
                        </svg>
                    </a>

                </div>
                <div class="plans-header__nav">
                    <ul class="plans-header__list">
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="../plans/index.html">Про нас</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="../serving/index.html">Сервіси</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="../portfolio/index.html">Портфоліо</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="#">Клієнти</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="#">Магазин</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="#">Контакти</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="../cost/index.html">Вартість</a>
                        </li>
                        <li class="plans-header__item">
                            <a class="plans-header__page" href="#">Події</a>
                        </li>
                    </ul>
                    <input placeholder="Пошук" class="plans-header__input" type="text">
                    <svg class="plans-header__seach">
                        <use href="../img/vova/symbol-defs.svg#icon-search"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="plans-header__hero">
            <h2 class="plans-header__title">Про CBD: Планування заходів</h2>
            <p class="plans-header__text">Найкращий організатор у плануванні та проведенні різноманітних подій.</p>
        </div>
    </div>
</section>