<section class="plans-hero">
    <div class="container">
        <div class="plans-hero__box">
            <input placeholder="Пошук" class="plans-hero__input" type="text">
            <svg class="plans-hero__seach">
                <use href="../img/vova/symbol-defs.svg#icon-search"></use>
            </svg>
        </div>
        <div class="plans-hero__div">
            <h2 class="plans-hero__title">Про CBD</h2>
        </div>
        <div class="plans-hero__tablet">
            <h2 class="plans-hero__title">Про CBD: Планування заходів</h2>
        </div>
        <div class="plans-hero__width">
        <p class="plans-hero__text">Найкращий організатор у плануванні та проведенні різноманітних подій.</p>
        </div>
    </div>
</section>