<section class="review">
    <div class="container">


        <div class="review__heading-wrapper">
            <h2 class="review__title">Відгуки</h2>
        </div>


        <div class="review__list">


            <div class="review__item">
                <div class="review__avatar">
                    <img src="../../img/andriy/pagetwoman.png" alt="Маллам Санусі Ламідо Санусі">
                </div>
                <div class="review__content">
                    <p class="review__text">
                        Команда виконала фантастичну роботу для приватного сектору Світового банку: семінари з розвитку
                        консолідації центрального банку. Ми в Африці, тому ми могли довірити їм усі деталі.
                    </p>
                    <h4 class="review__author">
                        Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії
                    </h4>
                </div>
            </div>


            <div class="review__item review__item--reversed">
                <div class="review__content">
                    <p class="review__text">
                        Айві займалася зв'язками з громадськістю та комунікаціями для історичного Sojourner Truth
                        Unveiling з першою леді Мішель Обамою. Вона та її команда надзвичайно вразили.
                    </p>
                    <h4 class="review__author">
                        Д-р Е. Фей Вільямс, Національний голова NCBW
                    </h4>
                </div>
                <div class="review__avatar">
                    <img src="../../img/andriy/oldman.png" alt="Д-р Е. Фей Вільямс">
                </div>
            </div>

        </div>


        <div class="review__action">
            <a href="#" class="review__btn-more">Детальніше</a>
        </div>

    </div>
</section>